@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.navbar {
    width: 100vw;
    height: 65px;
    background-color: #2754DAFF;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
}

.link {
    width: 180px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.link2 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.link2 button {
    cursor: pointer;
    border: none;
    background-color: #2754DAFF;
    list-style-type: none;
    font-size: 20px;
}

.link button {
    cursor: pointer;
    border: none;
    background-color: #2754DAFF;
    list-style-type: none;
    font-size: 20px;
}

.logo {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: #2754DAFF;
    list-style-type: none;
}